:root {
    font-family: Roboto, sans-serif; 
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;    
}

.link {
    list-style: none;
    text-decoration: none;
}
.link .adinfo:hover {
    color: #404bbf;
}
.link .adinfo:focus {
    color: #404bbf;
}

.logos {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu:hover {
color: #404bbf;
}
.menu:focus {
color: #404bbf;
}

.list {
    list-style: none;
}
.adinfo {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adinfo:hover {
    color: #404bbf;
}
.adinfo:focus {
    color: #404bbf;
}
.hero {
    background-color: #2E2F42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button {
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer; 
}

.button:hover {
    background-color: #404BBF;
}

.butto:focus {
    background-color: #404BBF
}

.goals {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.deskname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.desk {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.top {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.light-bg {
    background-color: #F4F4FD;
}

.team {
    background-color: #FFFFFF;
}
.teamlist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.teamlist2 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logof {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD; 
}


.filters {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
cursor: pointer;
}

.filters:hover {
    background-color: #FFFFFF;
    background-color: #404BBF;

}
.filters:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.partone {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.second {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.foot {
    background-color: #2e2f42;
}
footer {
    background-color: #2E2F42;
    color: #E7E9FC;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
}















